@use 'variables' as *;
@use 'mixins' as *;

.footer {
  background-color: $color-bg-footer;
  padding: $spacing-xl;
  border-top: 1px solid #e2e8f0;
  text-align: center;

  @include tablet {
    padding: 48px $spacing-2xl;
  }

  @include desktop {
    padding: 48px 80px;
  }

  @include mobile {
    padding: 12px 20px;
  }

  &__text {
    font-size: 10px;
    color: $color-text-muted;
    font-weight: 500;
    line-height: 1.6;

    a {
      color: $color-text-muted;
      text-decoration: underline;
      transition: color 0.2s;

      &:hover {
        color: $color-primary;
      }
    }
  }
}
